body {
    font-family: "Open Sans", sans-serif;
}

header{
    background-color: #FFF8F3;
}

nav {
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 228px;
    
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav li {
    margin-right: 52px;
  
}

.orange {
    color: #FD6E0A;
}

.mary {
    font-size: 45px;
    font-weight: 800;
}

.nav {
    font-size: 20px;
}

.orangebox {
    padding: 18px 35px 19px 36px;
    background-color: #FD6E0A;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
}

.banner{
    margin-left: 234px;
    margin-top: 183px;
    max-width: 585px;
}

.gretting {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0px;
}

.title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.bn-description{
    margin-top: 0px;
    margin-bottom: 30px;
}

.banner button{
    margin-right: 30px;
}

.white-box{
    background-color: white;
    color: #FD6E0A;
    padding: 18px 35px 19px 36px;
    border-radius: 10px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: 700;
}

.big-div{
    display: flex;
}

.pic{
    width: 584px;
}